<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="public/fonts/icomoon/style.css">


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="public/css/bootstrap.min.css">
        
        <!-- Style -->
        <link rel="stylesheet" href="public/css/style.css">

        <title>Nodemailer Simple Send Mail</title>
    </head>
    <body>

        {{{body}}}

    <script src="public/js/jquery-3.3.1.min.js"></script>
    <script src="public/js/popper.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/jquery.validate.min.js"></script>
    <script src="public/js/main.js"></script>

  </body>
</html>